<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecomm">
  <test name="Build1.1">
    <classes>
      <class name="Sunny.StandAloneTest"/>
      
    </classes>
  </test> 
  
  
 <test name="Car Loan">
 <classes>
 <class name="Sunny.DemoClass">
 <methods>
 <exclude name="getPrice.*"></exclude>
 
 </methods>
 </class>
 </classes>
 
 
 </test>
 
 
</suite> 
